
.login-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #c7d6b7;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

input,
button {
  display: block;
  margin: 0 auto;
}

input {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
input.error {
    border-color: red;
}
.error-message {
    color: red;
    margin-bottom: 10px;
}
button {
    width: 60%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
